@import "Global.scss";

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #F0F0F0;
}

.c-wrapper {
    margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .c-wrapper {
        width: $c-wrapper-xs;
    }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .c-wrapper {
        width: $c-wrapper-sm;
    }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .c-wrapper {
        width: $c-wrapper-md;
    }

}


.favorite-color {
    background: yellow;
    padding: 16px;

    >div {
        display: flex;
        gap: 12px;

        button {
            background: #c1c1c1;
            color: #FFF;
            padding: 8px;
            cursor: pointer;

            &.active {
                background-color: red;
            }

        }
    }
}

.button-01 {
    background: red;
    color: #FFF;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 12px;
}

.per-list {
    ul {
        display: flex;
        margin-bottom: 10px;

        li {
            width: 300px;
        }

        &:first-child{
            li{
                cursor: pointer;
            }
        }
    }
}

.asc{
    display: inline-block;
    margin-left: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.desc{
    display: inline-block;
    margin-left: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}